<%= form_with model: [category, purchase], local: true, url: category_purchases_path(category) do |form| %>
  <% if purchase.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
        <% purchase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :amount %>
    <%= form.number_field :amount, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="field">
    <strong>Categories:</strong><br>
    <% categories.each do |category| %>
      <%= form.check_box :category_ids, { multiple: true }, category.id, nil %>
      <%= label_tag "purchase_category_ids_#{category.id}", category.name %>
      <br>
    <% end %>
  </div>

  <div class="inline">
    <%= form.submit class: " py-3 px-5 bg-green-500 text-white inline-block font-medium cursor-pointer w-full" %>
  </div>
<% end %>
