<div class="bg-blue-500 py-4 flex justify-between text-2xl">
 <p class="ml-2 text-white ">
   <%= link_to home_index_path do %>
 <i class="fa fa-angle-double-left" aria-hidden="true"></i>
  <%end%>
 </p>
<h2 class="text-white">Log in</h2>
<p></p>
</div>

<div class="mt-12">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field ">
    <%= f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: "email", class: "w-full py-4" %>
  </div>

  <div class="field mb-2">
    <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password", class: "w-full py-4 " %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field mb-6">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "w-full bg-green-500 py-3 text-white text-center mb-4"%>
  </div>
<% end %>

<div class="flex justify-around items-center">
  <%= render "devise/shared/links" %>
</div>

</div>

